<p id="notice"><%= notice %></p>

<p>
  <b>Invoice:</b>
  <%= @iklan.invoice %>
</p>

<p>
  <b>Entry name:</b>
  <%= @iklan.entry_name %>
</p>

<p>
  <b>Customer name:</b>
  <%= @iklan.customer_name %>
</p>

<p>
  <b>Input date:</b>
  <%= @iklan.input_date %>
</p>

<p>
  <b>Publish date:</b>
  <%= @iklan.publish_date %>
</p>

<p>
  <b>Type:</b>
  <%= @iklan.type %>
</p>

<p>
  <b>Category:</b>
  <%= @iklan.category %>
</p>

<p>
  <b>Segmentation:</b>
  <%= @iklan.segmentation %>
</p>

<p>
  <b>Content:</b>
  <%= @iklan.content %>
</p>

<p>
  <b>Character:</b>
  <%= @iklan.character %>
</p>

<p>
  <b>Discount:</b>
  <%= @iklan.discount %>
</p>

<p>
  <b>Price:</b>
  <%= @iklan.price %>
</p>

<p>
  <b>Session:</b>
  <%= @iklan.session %>
</p>

<p>
  <b>Confirmed:</b>
  <%= @iklan.confirmed %>
</p>


<%= link_to 'Edit', edit_iklan_path(@iklan) %> |
<%= link_to 'Back', iklans_path %>
