<p class="row-fluid">
  <h3 class="inset-text"><%=t '.title', :default => "Daftar Berita" %></h3>
</p>
<%#= link_to 'Submit Berita', new_news_path, :class => 'btn btn-primary' %> <br />
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Kategori</th>
    <th>Tanggal Terbit</th>
    <th>Judul</th>
    <th class='hidden-phone'>Isi Berita</th>
    <th class='hidden-phone hidden-tablet hidden-desktop'>Status</th>
    <th class='hidden-phone hidden-tablet hidden-desktop'>Published by</th>
    <th class='hidden-phone hidden-tablet hidden-desktop'>Last edited by</th>
    <th></th>    
  </tr>
  </thead>
  <tbody>
<% @publish.each do |news| %>
  <tr>
    <td><%= news.category %></td>
    <td><%= news.publish_date %></td>
    <td><%= news.title %></td>
    <td class='hidden-phone span8'><%= news.header %></td>
    <td class='hidden-phone hidden-tablet hidden-desktop'><%= news.status %></td>
    <td class='hidden-phone hidden-tablet hidden-desktop'><%= news.published_by %></td>
    <td class='hidden-phone hidden-tablet hidden-desktop'><%= news.last_edited_by %></td>
    <td><%= link_to 'Lihat', publish_path(news), :class => 'btn btn-mini' %>
    <%= link_to 'publish', edit_publish_path(news), :class => 'btn btn-mini' %>
    <%= link_to 'Hapus', news, method: :delete, data: { confirm: 'Yakin ingin menghapus?' }, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
  </tbody>  
</table>

<br />