<div class="row-fluid inset-text-background">
  <h3 class="inset-text">
    Judul: <%=t '.title', :default => @publish.title %> <br>
      <span class='inset-text2'>
      Kategori:
      <b><%= @publish.category %>,</b>
      Tanggal Terbit:
      <b><%= @publish.publish_date %>.</b>
      </span>
  </h3>
</div>

<fieldset class='form-horizontal'>
<div class="page-header">
    <%#=t '.title', :default => model_class.model_name.human.pluralize %>
</div>
<div class="news-content span9">
  <b class ='lead'>Berita asli:</b>
  <p>
    <%= @publish.ori_content %>
  </p>
  <b class ='lead'>Isi Berita:</b>
  <p>
    <%= @publish.content %>
  </p>
  <b>Photo</b>
  <p>
    <a href=#photoModal data-toggle="modal"><%= image_tag @publish.photo.url(:thumb), :class => 'img-polaroid' %></a>
  </p>
</div>
<div id="photoModal" class ="modal hide fade img-polaroid"><%= image_tag @publish.photo.url %></div>
<div>
  <p>
    <b>Status:</b>
    <% if @publish.status == "1" %>
      Published
    <% else %>    
      Unpublished
    <% end %>
  </p>
  <p>
    <b>Disubmit oleh:</b>
    <%= @publish.submitted_by %>
  </p>
  <p>
    <b>Published by:</b>
    <%= @publish.published_by %>
  </p>

  <p>
    <b>Edit terakhir:</b>
    <%= @publish.last_edited_by %>
  </p>
</div>

<%= link_to 'Edit', edit_publish_path(@publish), :class => 'btn btn-primary' %> 
<%#= link_to 'Kembali', publish_index_path,:class => "btn btn-danger" %>
<%= link_to_function "kembali", "history.back()", :class => "btn btn-danger"  %>


</fieldset>