<%- model_class = Notifier -%>
<div class="page-header">
  <h1><%#=t '.title', :default => model_class.model_name.human.pluralize %>
      <%=t '.title', :default => "Konfirmasi Pembayaran" %>    
  </h1>
</div>
<%= link_to t('.new', :default => t("helpers.links.kirim_baru")),
            new_notifier_path,
            :class => 'btn btn-primary' %>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:entry_name) %></th>
    <th><%= model_class.human_attribute_name(:agent_name) %></th>
    <th>Notification message</th>
    <th>Kwitansi log</th>
    <th>Payment amount</th>
    <th>Via bank</th>
    <th>Bank account</th>
    <th>Status checked</th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>  
  <tbody>
    <% @notifiers.each do |notifier| %>
      <tr>
        <td><%= notifier.entry_name %></td>
        <td><%= notifier.agent_name %></td>
        <td><%= notifier.notification_message %></td>
        <td><%= notifier.kwitansi_log %></td>
        <td><%= notifier.payment_amount %></td>
        <td><%= notifier.via_bank %></td>
        <td><%= notifier.bank_account %></td>
        <td><%= notifier.status_checked %></td>
        <td><%= link_to t('.show', :default => t("helpers.links.show")),
                notifier_path(notifier), :class => 'btn btn-mini' %></td>
        <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_notifier_path(notifier), :class => 'btn btn-mini' %></td>
        <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      notifier_path(notifier),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />


