<div class="row-fluid inset-text-background">
    <h3 class="inset-text"><%=t '.title', :default => "Manajemen Berita" %></h3>    
</div> <br>

<div class="tabbable">
  <ul class="nav-tabs nav">
    <li class='active'><a href="#news-submit" data-toggle="tab">Submit berita</a></li>
    <li><a href="#news-unpublished" data-toggle="tab">Belum terbit</a></li>
    <li><a href="#news-published" data-toggle="tab">Sudah terbit</a></li>
    <li><a href="#news-stats" data-toggle="tab">Statistik</a></li>
  </ul>
  <div class="tab-content">
    <div id="news-submit" class="tab-pane fade active in">
      <%#= link_to 'Submit Berita', news_index_path, :remote => true, :id => 'submit-link', :class => 'btn btn-primary' %><br />

      <div id="news-submit-form" class="global-background"><%= render 'form' %></div>

    </div>

    <div id="news-unpublished" class="tab-pane fade">
      <div id="search-unpublished" class="form-inline">
        <p>Berita Anda yang belum diterbitkan.</p>
        <%= form_tag news_index_path, :method => "get", :remote => true do %>
          <p>
            <%= text_field_tag :date, params[:date], :class => 'pickdate', :placeholder => "Tanggal terbit..." %>
            <%= submit_tag "Cari Berita", :class => 'btn btn-primary' %><br />
          </p>
        <% end %>
      </div>
      <div id="unpublished-news" class="global-background"></div>      
    </div>

    <div id="news-published" class="tab-pane fade">
      <div id="search-published" class="form-inline">
        <p>Berita Anda yang sudah diterbitkan.</p>
        <%= form_tag news_index_path, :method => "get", :remote => true do %>
          <p>
            <%= text_field_tag :date, params[:date], :class => 'pickdate', :placeholder => "Tanggal terbit..." %>
            <%= submit_tag "Cari Berita", :class => 'btn btn-primary' %><br />
          </p>
        <% end %>
      </div>
      <div id="published-news" class="global-background"></div>
    </div>  

    <div id="news-stats" class="tab-pane fade global-background2">
      <p class='lead'>Data Statistik Anda</p> 
      <dl class="dl-horizontal">
        <dt>Total jumlah berita anda:</dt>
        <dd><p><%= @newsstats %></p></dd>
        <dt>Total berita anda yang diterbitkan:</dt>
        <dd><p><%= @pubnews %></p></dd>
        <dt>Total berita anda yang tidak diterbitkan:</dt>
        <dd><p><%= @unpubnews %></p></dd>
      </dl>
    </div>

  </div>
</div> 



