<div class="row-fluid inset-text-background">
    <h3 class="inset-text"><%=t '.title', :default => "Layout Berita" %></h3>    
</div> <br>
<div id="search-layout" class="form-inline">
  <%= form_tag newslayout_index_path, :method => "get", :remote => true do %>
    <p>
    <%= select_tag :cat, options_for_select(cats), prompt:"Pilih kategori" %>
    <%= text_field_tag :date, params[:date], :class => 'pickdate', :placeholder => "Tanggal terbit..." %>
    <%= submit_tag "Cari Berita", :class => 'btn btn-primary' %><br />
    </p>
  <% end %>
</div>
<div id="layout-result"></div>


<div id="newsModal" class="modal fade hide img-polaroid">
  <fieldset class='form-horizontal'>
    <div class="page-header">
        <%#=t '.title', :default => model_class.model_name.human.pluralize %>
    </div>
      <div class="news-content span9">
        <b class ='lead'>Isi Berita:</b>
        <p>
          <%#= news.content %>
        </p>
        <b>Photo</b>
        <p>
          <a href=#photoModal data-toggle="modal"><%#= image_tag news.photo.url(:thumb), :class => 'img-polaroid' %></a>
        </p>
      </div>
    <div id="photoModal" class ="modal hide fade img-polaroid"><%#= image_tag @nl.photo.url %></div>
  </fieldset>
</div>
<br />